body, html {
    width:400px;
    height:415px;
    overflow: hidden;
    margin: 0px;
    padding:0px;
}
#userSignIn {
    display: none;
}

.hoverfull {
    opacity:0.4;
    max-height:50px;
    border-radius:15px;
    cursor: pointer;
    transition: opacity 350ms;
}
.hoverfull:hover {
    opacity:1;
}
.pointer {
    cursor: pointer;
}